@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e6f2f6;
}

.fw-500 {
  font-weight: 500;
}

#header {
  width: 100%;
  height: 100vh;
  background-color: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo img {
  width: 50px;
}

.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0.5em 4em;
  justify-content: space-between;
  display: flex;
}

.header-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: absolute;
    left: 0;
    top: 80%; */
  color: #fff;
  width: 50%;
}

.header-content h1 {
  text-align: center;
}

.header-content p {
  text-align: center;
}

.header-content button {
  text-align: center;
}

.bg-video {
  filter: blur(1.5px);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
  object-position: bottom right;
}

/* 
.navbar {
    background-color: #f5f5f5;
    padding: 0.5em 4em;
    justify-content: space-between;
    display: flex;
} */

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 2em;
  margin: 0;
}

.nav-item {
  list-style: none;
  padding: 0.5em 1.5em;
}

.nav-link-item {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 1.2rem;
}

.nav-link-item::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #000;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-link-item:hover::after {
  width: 100%;
}

.nav-link-active {
  color: #000;
}

.nav-link-active::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #000;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.carousel-item {
  opacity: 0.9;
}

.carousel-item h1 {
  /* text-transform: uppercase; */
  font-weight: 700;
  font-size: 3rem;
  font-family: "Lobster", cursive;
  color: #fff;
}
/* 
.carousel-item img {
  filter: brightness(50%);
  height: 600px;
  object-fit: cover;
} */

/* Vehicle Section */
.vehicles {
  width: 90%;
  margin: 1em auto;
  padding: 1em 0;
  background-color: #fff;
}

.card-img-top {
  height: 300px;
  object-fit: cover;
}

.collage-contaienr {
  height: 800px;
}

.collage {
  position: relative;
}

#gallery {
  margin: 1.5em 0;
}

#gallery .collage img {
  filter: brightness(80%);
  margin: auto;
  width: 100%;
  /* height: 400px; */
  transition: 0.2s ease-in-out;
}

#gallery .collage img:hover {
  filter: brightness(50%);
}

.collage-text {
  position: absolute;
  top: 40%;
  color: #fff;
  font-size: 2rem;
  left: 40%;
}

.btn-gallery {
  font-size: 1.2rem;
  padding: 0.5em 1em;
  margin: 1em 0;
  position: absolute;
  top: 47%;
  left: 47%;
}

#contact {
  padding: 1.5em 0;
}

.contact-container {
  background-color: rgb(212, 244, 255);
  text-align: center;
  padding: 1em 0;
}

#footer {
  background-color: #f5f5f5;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 2em 0;
  padding-bottom: 25em;
}

@media screen and (max-width: 768px) {
  .header-content {
    width: 95%;
  }

  .navbar {
    padding: 0;
    flex-direction: column;
    background-color: #000;
    position: fixed;
    z-index: 5;
    /* align-items: flex-start; */
    /* padding: 0.2em; */
  }

  .nav-list {
    flex-direction: column;
    position: fixed;
    width: 100%;
    top: 70px;
    right: -500px;
    overflow-x: hidden;
    padding: 1em;
    background-color: black;
    transition: 0.2s ease-in-out;
    z-index: 5;
  }

  .nav-link {
    color: #fff;
  }

  .nav-link:hover::after {
    color: #fff;
  }

  .nav-link:hover {
    color: #fff;
  }

  .menu-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0.5em 1.5em;
  }

  .menu-icon {
    padding: 1em 0;
  }

  .menu-icon span {
    width: 30px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: 0.2s ease-in-out;
  }

  .menu-icon span:nth-child(2) {
    margin: 5px 0;
  }

  .menuClass {
    right: 0;
    transition: 0.2s ease-in-out;
  }

  .menuIconClass {
    /* margin-top: 1.5em; */
    padding-top: 1.5em;
  }

  .menuIconClass span:nth-child(2) {
    display: none;
  }

  .menuIconClass span:nth-child(1) {
    transform: rotate(40deg);
    transition: 0.2s ease-in-out;
  }

  .menuIconClass span:nth-child(3) {
    transform: rotate(-40deg);
    transition: 0.2s ease-in-out;
    margin-top: -3px;
  }

  .collage-text {
    top: 10%;
    left: 10%;
    font-size: 2em;
  }

  .btn-gallery {
    left: 40%;
    font-size: 1rem;
    padding: 0.5em;
  }
}
